@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-in {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
body {
  height: 100vh;
  opacity: 0;
  box-shadow: inset 0 0 320px 80px #0006;
  animation: fade-out .1s forwards;
  #root {
    animation: move-out .1s forwards;
  }
  &.displaying {
    animation: fade-in .2s forwards;
    #root {
      animation: move-in .2s forwards;
    }
  }
}
#root {
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 0 16px #0008);
}
.spirit-main {
  --td-radius-medium: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0 auto;
  padding: 10vh 15vw 0;

  height: 90vh;
  width: 60vw;
}
.spirit-configurer-panel {
  padding: 0;
  max-height: 0;
  background-color: var(--td-bg-color-container);
  transition: .3s;
  &--visible {
    padding: 10px;
    max-height: 40vh;
  }
  .t-tab-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
    min-height: 50px;
  }
  .spirit-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > label {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex-grow: 1;
  height: 0;
  padding-bottom: 10px;

  overflow-y: auto;
}
