#root {
  --chatroom-h: 120px;

  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 0 16px #0008);
}
.spirit-main {
  --sender-width: 60vw;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding-top: var(--chatroom-h);
}
.spirit-chatrooms {
  .s-icon {
    font-size: 14px;
  }
  .t-tabs__nav-item:not(.t-is-active):hover {
    .t-button:hover {
      background-color: var(--td-brand-color-light-hover);
    }
  }
}
.spirit-chatroom {
  --td-size-3: 12px;

  display: flex;
  align-items: center;
  .t-avatar {
    border: 1px solid var(--td-text-color-primary);
    .t-image__wrapper {
      display: flex;
      align-items: center;
    }
    &__icon {
      padding: 1px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  & > *:first-child:not(&-label) {
    margin-right: 5px;
  }
  &-label {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-tooltip {
    max-width: 250px;
  }
  &-desc {
    color: var(--td-text-color-anti);
    font-size: 12px;
    opacity: .6;
  }
  &-kbds {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.spirit-messages {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 0;
  padding: 0 calc((100vw - var(--sender-width)) / 2) 10px;
  padding-top: 20px;

  overflow-y: auto;
  .self {
    --td-border-level-1-color: var(--td-brand-color-hover);
    background-color: var(--td-brand-color-light-hover);
  }
}
