#root {
  --chatroom-h: 120px;

  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 0 16px #0008);
}
.spirit-main {
  --sender-width: 60vw;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: calc(100vh - var(--chatroom-h));
  padding-top: var(--chatroom-h);
}
.spirit-messages {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 0;
  padding: 0 calc((100vw - var(--sender-width)) / 2) 10px;
  margin-top: 20px;

  overflow-y: auto;
  .self {
    margin-left: auto;
    margin-right: 0;
    max-width: 60%;
    background-color: color-mix(
      in srgb,
      var(--td-brand-color),
      var(--td-bg-color-container) 80%
    );
    .message-header {}
    .t-avatar {
      background-color: color-mix(
        in srgb,
        var(--td-brand-color),
        var(--td-bg-color-container) 40%
      );
      color: color-mix(
        in srgb,
        var(--td-brand-color),
        var(--td-text-color-primary) 80%
      );
    }
  }
}
