@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
body {
  --td-radius-medium: 10px;

  height: 100vh;
  opacity: 0;
  animation: fade-out .1s forwards;
  #root {
    opacity: 0;
    background-image: radial-gradient(
      circle,
      color-mix(in srgb, var(--td-text-color-primary), transparent 40%) 0%,
      transparent 100%
    );
    animation: move-out .1s forwards;
  }
  &.displaying {
    animation: fade-in .2s forwards;
    #root {
      animation: move-in .2s forwards;
    }
  }
  &.error {
    opacity: 1;
    animation: none;
    #root {
      animation: none;
    }
  }
  &.error #root {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 60vh;
    padding: 20px;
    border-radius: var(--td-radius-medium);
    transform: translate(-50%, -50%);
    background-color: white;
    color: var(--td-error-color);
    > h1 {
      margin: 0;
    }
    pre {
      margin: 0;
      padding: 10px;
      background-color: var(--td-bg-color-component);
      overflow: auto;
    }
  }
}
