.spirit-configurer-panel {
  background-color: var(--td-bg-color-container);
  .t-tab-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
    min-height: 50px;
  }
  .spirit-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > label {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
