.spirit-kbd {
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 10px;
  white-space: nowrap;
  &--no-card &-key {
    padding: 2px;
    color: var(--td-text-color-anti);
    background-color: transparent;
  }
  &-key {
    --h: 14px;
    position: relative;
    height: var(--h);
    min-width: 20px;
    line-height: var(--h);
    border-radius: 4px;

    text-align: center;
    color: var(--td-text-color-placeholder);
    background-color: var(--td-bg-color-container);
    border: 2px solid color-mix(
      in srgb,
      var(--td-bg-color-container),
      var(--td-text-color-placeholder) 80%
    );
    border-top-width: 1px;
    transition: .3s;
    &:hover {
      border-color: var(--td-bg-color-primary);
    }
    &.meta {
      font-size: 14px;
      line-height: calc(var(--h) + 2px);
    }
    &.shift, &.tab {
      font-size: 14px;
    }
    &.opt {
      font-size: 12px;
    }
    &.space {
      font-size: 14px;
      line-height: calc(var(--h) - 8px);
    }
    &.enter, &.numpadenter {
      font-size: 14px;
      line-height: calc(var(--h) - 2px);
    }
    &.pageup, &.pagedown {
      font-size: 14px;
      line-height: calc(var(--h) - 2px);
    }
  }
  &-key:not(:first-child) {
    margin-left: 5px;
  }
}
