.spirit-kbd {
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 10px;
  white-space: nowrap;
  &--no-card &-key {
    padding: 2px;
    color: var(--td-text-color-anti);
    background-color: transparent;
  }
  &-key {
    --h: 10px;
    position: relative;
    padding: 2px 6px;
    height: var(--h);
    line-height: var(--h);
    border-radius: 4px;

    color: var(--td-text-color-placeholder);
    background-color: var(--td-bg-color-container);
    border: 2px solid color-mix(
      in srgb,
      var(--td-bg-color-container),
      var(--td-text-color-placeholder) 80%
    );
    border-top-width: 1px;
    transition: .3s;
    &:hover {
      border-color: var(--td-bg-color-primary);
    }
    &.meta {
      font-size: 15px;
      padding-top: 3px;
      padding-bottom: 1px;
    }
    &.enter {
      font-size: 15px;
      padding-top: 1px;
      padding-bottom: 3px;
    }
  }
  &-key:not(:first-child) {
    margin-left: 5px;
  }
}
