.message {
  --border-size: 1px;

  position: relative;
  margin-bottom: 20px;
  margin-right: auto;
  padding: var(--td-radius-medium);

  min-width: 30%;
  max-width: calc(100% - var(--td-radius-medium) * 2);
  background-color: var(--td-bg-color-container);
  border-radius: var(--td-radius-medium);
  border-top-left-radius: 0;
  border: var(--border-size) solid var(--td-border-level-1-color);

  color: var(--td-text-color-primary);
  font-size: 14px;
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid var(--td-bg-color-container);
    border-left: 8px solid transparent;
    transition: .3s;
  }
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;

    height: 24px;

    color: var(--td-text-color-secondary);
    font-size: 12px;
    .t-avatar {
      position: absolute;
      top: -10px;
      left: -50px;
      user-select: none;
      transition: .3s;
      &:hover {
        box-shadow: var(--td-shadow-1);
      }
    }
  }
  &-time {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: right;

    height: 24px;
    opacity: 0;

    font-size: 10px;
    color: var(--td-text-color-placeholder);
    transition: .3s;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    border-top: none;
  }
  &-text {
    max-height: 50vh;
    overflow-y: auto;
  }
  &-actions {
    position: absolute;
    bottom: -14px;
    right: -14px;

    display: flex;
    visibility: hidden;
    gap: 10px;
    opacity: 0;
    transition: .3s;
    &.activated {
      visibility: visible;
      opacity: 1;
    }
    .t-button {
      background-color: var(--td-bg-color-container);
    }
    .s-icon {
      font-size: 18px;
    }
  }
  &-tool-call {
    margin: 0;
  }

  &:hover &-time {
    opacity: 1;
  }
  @keyframes displayWhen80Percent {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  &:hover &-actions:not(.displaying) {
    animation: displayWhen80Percent 1s forwards;
  }
  &-actions.displaying {
    visibility: visible;
    opacity: 1;
  }
}
