.spirit-sender {
  --icon-size: 32px;
  --bg-color: color-mix(in srgb, var(--bg), #0001 10%);

  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin: 0 auto;
  width: var(--sender-width);
  border-radius: var(--td-radius-medium);
  background-color: var(--bg-color);
  border: 2px solid var(--bg);
  // TODO make shikitor support `position: fixed` broken
  // backdrop-filter: blur(10px);

  font-size: 16px;
  &__input {
    min-height: var(--icon-size);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }
  &__resources {
    display: flex;
    align-items: center;
    gap: 10px;
    &:not(:empty) {
      padding: 0 10px 10px;
    }
    .t-image__wrapper {
      width: 6vw;
      height: 6vw;
      border-radius: var(--td-radius-medium);
      border: 1px solid var(--td-border-level-1-color);
    }
    .t-image__overlay-content {}
  }
  &__resource-remove {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    .s-icon {
      font-size: 14px;
    }
  }
  &-bg {
    --sw: var(--sender-width);
    --sh: 52px;
    --st: var(--chatroom-h);
    --sl: 0;
    --image: linear-gradient(
      135deg,
      var(--td-brand-color-3) 10%,
      var(--td-brand-color) 100%
    );

    --br: 2px;

    &:not([data-inited='1']) {
      left: 50%;
      transform: translateX(-50%);
    }
    position: fixed;
    top: var(--st);
    left: var(--sl);
    width: var(--sw);
    height: var(--sh);
    background-image: var(--image);
    border-radius: var(--td-radius-medium);
  }
  &__status-bar {
    --td-bg-color-container-hover: color-mix(in srgb, var(--bg), var(--fg) 20%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 28px;
    padding: 5px 10px;
    border-top: 1px solid color-mix(in srgb, var(--fg), #0001 90%);
    border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    background-color: var(--bg);

    color: var(--fg);
    &__message {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
      width: 0;
      font-size: 14px;
    }
    &__prefix {
      :root[theme-mode='dark'] & img {
        filter: invert(1);
      }
    }
    &__text {
      color: var(--td-text-color-placeholder);
    }
    .s-icon {
      color: var(--td-text-color-placeholder);
      font-size: 16px;
      user-select: none;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 5px;
      .spirit-kbd {
        margin-left: 10px;
      }
      .spirit-kbd-key {
        background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
      }
      &:hover .spirit-sender__status-bar__action-split {
        opacity: 0;
      }
    }
    &__action {
      .t-button__text {
        color: var(--td-text-color-placeholder);
      }
      &:hover .t-button__text {
        color: var(--td-text-color-primary);
      }
    }
    &__dropdown-action {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 30px;
      &-searcher {
        margin: 0 -7px;
        margin-top: -7px;
        width: calc(100% + 14px);
        .t-input {
          padding: 0 15px;
          height: 40px;
          border-radius: 0;
        }
        .t-input:focus {
          border-color: var(--td-border-level-1-color);
          outline: none;
          box-shadow: none;
        }
      }
    }
    &__action-split {
      width: 2px;
      height: 12px;
      background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
      border-radius: 2px;
      opacity: 1;
      transition: .3s;
    }
  }
}
.spirit-sender .shikitor {
  --line-height: var(--icon-size);

  flex-grow: 1;
  min-height: 100% !important;
  background-color: transparent !important;
  .shiki {
    background-color: transparent !important;
  }
  &-gutter-line-highlighted:before {
    display: none;
  }
  &-placeholder {
    filter: invert(1);
    opacity: .6;
  }
}
.spirit-sender {
  &--header > *:first-child {
    border-radius: var(--td-radius-medium) var(--td-radius-medium) 0 0;
    overflow: hidden;
  }
  &__input ~ *:not(&__status-bar):not(&__resources) {
    max-height: 0;
    // border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    overflow-y: auto;
    transition: .3s;
  }
  @keyframes unfold_to_40vh {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 50vh;
    }
  }
  &--footer > &__input ~ *:not(&__status-bar):not(&__resources) {
    max-height: 50vh;
    animation: unfold_to_40vh .3s;
  }
}
