.spirit-sender {
  --icon-size: 32px;
  --bg-color: color-mix(in srgb, var(--bg), #0001 10%);

  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: var(--sender-width);

  font-size: 16px;
  border-radius: var(--td-radius-medium);
  background-color: var(--bg-color);
  // TODO make shikitor support `position: fixed` broken
  // backdrop-filter: blur(10px);
  border: 2px solid var(--bg);
  &__input {
    min-height: var(--icon-size);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }
  @keyframes whirl {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &__icon {
    width: 100%;
    animation: whirl 5s linear infinite;
    :root[theme-mode='dark'] & {
      filter: invert(1);
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &-bg {
    --sw: var(--sender-width);
    --sh: 52px;
    --st: var(--chatroom-h);
    --sl: 0;
    --image: linear-gradient(
      135deg,
      var(--td-brand-color-3) 10%,
      var(--td-brand-color) 100%
    );

    --br: 2px;

    &:not([data-inited='1']) {
      left: 50%;
      transform: translateX(-50%);
    }
    position: fixed;
    top: var(--st);
    left: var(--sl);
    width: var(--sw);
    height: var(--sh);
    background-image: var(--image);
    border-radius: var(--td-radius-medium);
  }
  &__status-bar {
    --td-bg-color-container-hover: color-mix(in srgb, var(--bg), var(--fg) 20%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 28px;
    padding: 5px 10px;
    border-top: 1px solid color-mix(in srgb, var(--fg), #0001 90%);
    border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    background-color: var(--bg);

    color: var(--fg);
    &__message {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
      width: 0;
      font-size: 14px;
    }
    &__text {
      color: var(--td-text-color-placeholder);
    }
    .s-icon {
      color: var(--td-text-color-placeholder);
      font-size: 16px;
      user-select: none;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 5px;
      .spirit-kbd {
        margin-left: 10px;
      }
      .spirit-kbd-key {
        background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
      }
      .t-button:hover + .spirit-sender__status-bar__action-split {
        opacity: 0;
      }
    }
    &__action-split {
      width: 2px;
      height: 12px;
      background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
      border-radius: 2px;
      opacity: 1;
      transition: .3s;
    }
  }
}
.spirit-sender .shikitor {
  --line-height: var(--icon-size);

  flex-grow: 1;
  min-height: 100% !important;
  background-color: transparent !important;
  .shiki {
    background-color: transparent !important;
  }
  &-gutter-line-highlighted:before {
    display: none;
  }
  &-placeholder {
    filter: invert(1);
    opacity: .6;
  }
}
.spirit-sender {
  &--header > *:first-child {
    border-radius: var(--td-radius-medium) var(--td-radius-medium) 0 0;
    overflow: hidden;
  }
  &__input + *:not(&__status-bar) {
    max-height: 0;
    // border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    overflow-y: auto;
    transition: .3s;
  }
  @keyframes unfold_to_40vh {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 50vh;
    }
  }
  &--footer > &__input + * {
    max-height: 50vh;
    animation: unfold_to_40vh .3s;
  }
}
