.spirit-sender {
  --icon-size: 32px;
  --bg-color: color-mix(in srgb, var(--bg), #0001 10%);

  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: var(--sender-width);

  font-size: 16px;
  border-radius: var(--td-radius-medium);
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  border: 2px solid var(--bg);
  &__input {
    min-height: var(--icon-size);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }
  &__prefix {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% - 10px));

    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 6px;

    cursor: pointer;
    user-select: none;
    transition: .2s;
  }
  @keyframes floating {
    0% {
      transform: translateY(2px);
    }
    25% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(2px);
    }
    75% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(2px);
    }
  }
  &__icon {
    width: var(--icon-size);
    margin-top: -2px;
    transform: translateY(2px);
    animation: floating 1s infinite linear;
  }
  &:hover &__icon {
    animation-play-state: paused;
  }
  &-bg {
    --sw: var(--sender-width);
    --sh: 52px;
    --st: 15vh;
    --sl: 0;
    --image: linear-gradient(
      135deg,
      var(--td-brand-color-3) 10%,
      var(--td-brand-color) 100%
    );

    --br: 2px;

    &:not([data-inited='1']) {
      left: 50%;
      transform: translateX(-50%);
    }
    position: fixed;
    top: var(--st);
    left: var(--sl);
    width: var(--sw);
    height: var(--sh);
    background-image: var(--image);
    border-radius: var(--td-radius-medium);
  }
}
.spirit-sender .shikitor {
  --line-height: var(--icon-size);

  flex-grow: 1;
  min-height: 100% !important;
  background-color: transparent !important;
  .shiki {
    background-color: transparent !important;
  }
  &-gutter-line-highlighted:before {
    display: none;
  }
  &-placeholder {
    filter: invert(1);
    opacity: .6;
  }
}
.spirit-sender {
  &--header {}
  .spirit-sender__input + * {
    max-height: 0;
    border-radius: 0 0 var(--td-radius-medium) var(--td-radius-medium);
    overflow-y: auto;
    transition: .3s;
  }
  @keyframes unfold_to_40vh {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 50vh;
    }
  }
  &--footer > .spirit-sender__input + * {
    max-height: 50vh;
    animation: unfold_to_40vh .3s;
  }
}
